html{
    background-color: black;
  }
  .complete{
    align-items: center;
    background-color: black;
    color: white ;
    text-align: center;
  }

  img{
    border: 5px solid white;
    margin-top: 40px;
  }
  h1{
    text-transform: uppercase;
    margin-bottom: 30px;
  }
